@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input,
textarea,
button {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Poppins', sans-serif;
    --FF-HEADINGS: 'Roboto', sans-serif;
    --FS: clamp(1.05rem, 2.2vh, 2.5rem);
    --MENU-FS: clamp(1.15rem, 2.2vh, 1.5rem);

    /* COLORS */
    --HEADER-COLOR: #183b56;
    --HEADER-BGCOLOR: #fff;
    --FONT-COLOR: hsla(0, 0%, 0%, 0.504);
    --LINK-COLOR: hsla(0, 0%, 0%, 0.534);
    --HOVER-COLOR: #2294ed;
    --BANNER-BGCOLOR: #e74694;
    --BANNER-COLOR: #fff;
    --MENU-BARS-COLOR: #000;
    --BUTTON-COLOR: #fff;
    --BUTTON-BGCOLOR: #2294ed;

    /* BORDERS */
    --BORDER-RADIUS: 5px;
}

/* || GENERAL STYLES */
body {
    font-family: var(--FF);
    color: var(--FONT-COLOR);
}


h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    color: var(--HEADER-COLOR);
    letter-spacing: 0.02rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    line-height: 1.5rem;
    font-size: var(--FS);
    letter-spacing: 0.02rem;
}

a:any-link {
    text-decoration: none;
    color: var(--LINK-COLOR);
}

a:hover {
    color: var(--HOVER-COLOR);
}

/* || UTILITY CLASSES */
.container {
    max-width: 1300px;
    margin: 0 auto;
    /* margin-inline: auto */
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.center {
    text-align: center
}

.flex {
    display: flex;
}

.transparent {}

/* || BANNER */

.banner {
    text-align: center;
    padding: 1rem;
    background-color: var(--BANNER-BGCOLOR);
    background-image: url("assets/patterns.png");
    background-size: 40%;
    background-repeat: repeat;
}

.banner-link {
    font-size: 0.9rem;
}

/* **** */
.banner-link:any-link {
    color: var(--BANNER-COLOR);
}

/* HEADER */
.header {
    position: relative;
}

.header__section {
    background-color: var(--HEADER-BGCOLOR);
    display: flex;
    justify-content: space-between;
    margin: 17px;
}

.header__img {
    width: 168px;
    /* background-color: black; */
}

/* button -> inline-block element */
/* takes the height according to the height of content
around it or its own content, whatevers maximum */
.header__menu-button {
    position: relative;
    background: transparent;
    /* does not make sense */
    /* justify-self: flex-end; */
    width: 17px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-icon,
.header__menu-icon:before,
.header__menu-icon:after {
    content: "";
    width: 17px;
    height: 2.5px;
    background-color: var(--MENU-BARS-COLOR);
    position: absolute;
    border-radius: var(--BORDER-RADIUS);
}

.header__menu-icon:before {
    top: -6px;
    left: 0;
}

.header__menu-icon:after {
    top: 6px;
    left: 0;
}

.header__nav {
    padding: 20px 30px;
    width: 100%;
}

.header__ul {
    list-style-type: none;
}

.header__li {
    font-size: var(--MENU-FS);
    padding: 12px 0px;
    margin-bottom: 20px;
}

/* .header__nav {
    display: none;
    position: absolute;
    animation: showMenu 350ms linear;
    z-index: -1;
} */

header:hover .header__nav {
    display: none;
    /* width: 10000px;
    background-color: black; */
}

nav {
    background-color: var(--HEADER-BGCOLOR);
    display: none;
    transform-origin: top center;
    /* position: absolute; */
    /* background-color: transparent; */
    animation: showMenu 350ms ease-in-out forwards;
}

@keyframes showMenu {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

/* @keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
} */

a {
    display: block;
    width: 100%;
}

/* || HERO */
.hero {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.hero__button {
    background-color: var(--BUTTON-BGCOLOR);
    color: var(--BUTTON-COLOR);
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    border-radius: var(--BORDER-RADIUS);
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* default value of align-items - normal 
    Behaves like 'stretch' for flexbox and grid items, or 'start' for grid items 
    with a defined block size. */
    align-items: flex-start;
    gap: 20px;
    max-width: 50%;
}

/* || COMPANY */
.company {
    padding: 50px;
}

.company__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.company__content {
    color: var(--HEADER-COLOR);
    font-weight: bold;
    margin-bottom: 30px;
}

.company__figure {
    display: flex;
    align-items: center;
}

.company img {
    height: 45px;
    width: auto;
}

.company .godaddy {
    height: 32px;
}

/* || FEATURES */
.features {
    background-image: url("assets/asset\ 37.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
}

.features__container {
    padding: 40px 50px;
    flex-wrap: wrap;
    row-gap: 50px;
}

.features__button {
    background-color: transparent;
    color: var(--HEADER-COLOR);
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid hsla(206, 85%, 53%, 0.495);
    border-radius: var(--BORDER-RADIUS);
}

.features__button:hover {
    color: var(--HOVER-COLOR);
    border: 1px solid var(--HOVER-COLOR);

}

.features__icon {
    width: 40px;
    height: auto;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-align: center;

    width: 33.33%;
}

.features__arrow-image {
    display: inline;
    width: 12px;
    height: auto;
}

/* || BIG FEATURE */
/* .big-feature {
    background-image: url("assets/asset\ 37.png");
    background-color: black;

    width: 100%;
    height: 100vh;
} */

