@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input,
textarea,
button {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Poppins', sans-serif;
    --FF-HEADINGS: 'Roboto', sans-serif;
    --FF: 'Roboto', sans-serif;
    --FS: clamp(1.1rem, 2.2vh, 2.5rem);
    --MENU-FS: clamp(1.15rem, 2.2vh, 1.5rem);

    /* COLORS */
    --HEADER-COLOR: #183b56;
    --HEADER-BGCOLOR: #fff;
    --FONT-COLOR: hsla(0, 0%, 0%, 0.504);
    --PRIMARY-BUTTON-COLOR: #fff;
    --PRIMARY-BUTTON-BGCOLOR: #2294ed;
    --PRIMARY-HOVER-BGCOLOR: #0061ad;
    --SECONDARY-BUTTON-COLOR: #183b56;
    --SECONDARY-HOVER-COLOR: #2294ed;
    --BANNER-BGCOLOR: #e74694;
    --BANNER-COLOR: #fff;
    --MENU-BARS-COLOR: #000;
    --CTA-BGCOLOR: #ebf2fa;
    --SUBFOOTER-BGCOLOR: #b9cde4;

    /* BORDERS */
    --BORDER-RADIUS: 5px;

    /* STANDARD PADDING */
    --PADDING: 50px;
}

/* || GENERAL STYLES */
body {
    font-family: var(--FF-HEADINGS);
    color: var(--FONT-COLOR);
}

h1,
h2,
h3,
h4 {
    font-family: var(--FF-HEADINGS);
    color: var(--HEADER-COLOR);
    letter-spacing: 0.02rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 1.5rem;
    font-size: var(--FS);
    letter-spacing: 0.02rem;
}

a {
    border-radius: var(--BORDER-RADIUS);
}

a:any-link {
    /* border-radius: var(--BORDER-RADIUS); */
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* || UTILITY CLASSES */
.container {
    max-width: 1300px;
    margin: 0 auto;
    /* margin-inline: auto */
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.center {
    text-align: center
}

.flex {
    display: flex;
}

.highlighted-text {
    color: var(--HEADER-COLOR);
    font-weight: bold;
}

.primary-button {
    /* display: inline-block; */
    background-color: var(--PRIMARY-BUTTON-BGCOLOR);
    color: var(--PRIMARY-BUTTON-COLOR);
    padding: 12px 24px;
    font-weight: bold;
    /* border: none; */
    /* border-radius: var(--BORDER-RADIUS); */
}

.primary-button:hover {
    background-color: var(--PRIMARY-HOVER-BGCOLOR);
}

.secondary-button {
    background-color: transparent;
    color: var(--SECONDARY-BUTTON-COLOR);
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid hsla(206, 85%, 53%, 0.495);
    /* border-radius: var(--BORDER-RADIUS); */
    /* width: auto; */
}

.secondary-button:hover {
    color: var(--SECONDARY-HOVER-COLOR);
    border: 1px solid var(--SECONDARY-HOVER-COLOR);
}

/* || BANNER */

.banner {
    text-align: center;
    padding: 1rem;
    background-color: var(--BANNER-BGCOLOR);
    background-image: url("assets/patterns.png");
    background-size: 40%;
    background-repeat: repeat;
}

.banner-link {
    font-size: 14px;
}

/* **** */
.banner-link:any-link {
    color: var(--BANNER-COLOR);
}

/* HEADER */
.header {
    position: relative;
}

.header__section {
    background-color: var(--HEADER-BGCOLOR);
    justify-content: space-between;
    margin: 17px;
}

.header__img {
    width: 168px;
    /* background-color: black; */
}

/* button -> inline-block element */
/* takes the height according to the height of content
around it or its own content, whatevers maximum */
.header__menu-button {
    position: relative;
    background: transparent;
    /* does not make sense */
    /* justify-self: flex-end; */
    width: 17px;
    border: none;
    justify-content: center;
    align-items: center;
}

.header__menu-icon,
.header__menu-icon:before,
.header__menu-icon:after {
    content: "";
    width: 17px;
    height: 2.5px;
    background-color: var(--MENU-BARS-COLOR);
    position: absolute;
    border-radius: var(--BORDER-RADIUS);
}

.header__menu-icon:before {
    top: -6px;
    left: 0;
}

.header__menu-icon:after {
    top: 6px;
    left: 0;
}

.header__nav {
    padding: 20px 30px;
    width: 100%;
}

.header__ul {
    list-style-type: none;
}

.header__li {
    font-size: var(--MENU-FS);
    padding: 12px 0px;
    margin-bottom: 20px;
}

/* .header__nav {
    display: none;
    position: absolute;
    animation: showMenu 350ms linear;
    z-index: -1;
} */

header:hover .header__nav {
    /* display: block; */
    /* width: 10000px;
    background-color: black; */
}

.header__nav {
    background-color: var(--HEADER-BGCOLOR);
    display: none;
    transform-origin: top center;
    /* position: absolute; */
    /* background-color: transparent; */
    animation: showMenu 350ms ease-in-out forwards;
}

@keyframes showMenu {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

/* @keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
} */

/* || HERO */
.hero {
    justify-content: space-evenly;
    padding: var(--PADDING);
}
/* 
.hero__button {
    display: inline-block; // comment this line
    width: 150px;
    background-color: var(--BUTTON-BGCOLOR);
    color: var(--BUTTON-COLOR);
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    border-radius: var(--BORDER-RADIUS);
}

.hero__button:hover {
    color: white;
    background-color: #0061ad;
} */

.hero__content {
    flex-direction: column;
    justify-content: center;
    /* default value of align-items - normal 
    Behaves like 'stretch' for flexbox and grid items, or 'start' for grid items 
    with a defined block size. */
    align-items: flex-start;
    gap: 20px;
    max-width: 40%;
}

/* || COMPANY */
.company {
    padding: var(--PADDING);
}

.company__section {
    justify-content: space-between;
    flex-wrap: wrap;
}

.company__figure {
    margin-top: 30px;
    align-items: center;
}

.company img {
    height: 45px;
    width: auto;
}

.company .godaddy {
    height: 32px;
}

/* || FEATURES */
.features {
    background-image: url("assets/asset\ 32.");
    background-size: cover;

    flex-direction: column;
    align-items: center;

    padding: var(--PADDING);
}

.features__container {
    padding: 40px 50px;
    flex-wrap: wrap;
    row-gap: 50px;
}

/* .features__button {
    background-color: transparent;
    color: var(--HEADER-COLOR);
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid hsla(206, 85%, 53%, 0.495);
    border-radius: var(--BORDER-RADIUS);
    /* width: auto; // comment this line
}

.features__button:hover {
    color: var(--HOVER-COLOR);
    border: 1px solid var(--HOVER-COLOR);

} */

.features__icon {
    width: 40px;
    height: auto;
}

.features__description {
    flex-direction: column;
    align-items: center;
    /* align-items: stretch; */
    gap: 15px;
    text-align: center;
    width: 33.33%;
}

.features__arrow-image {
    display: inline;
    width: 12px;
    height: auto;
}

/* || BIG FEATURE */
/* .big-feature {
    background-image: url("assets/asset\ 37.png");
    background-color: black;

    width: 100%;
    height: 100vh;
} */

.big-feature {
    padding:  20px 50px;
    gap: 60px;
}

.big-feature__description {
    flex-direction: column;
    gap: 25px;
}

.big-feature__company {
    width: 100px;
}

.big-feature__person-image {
    width: 50px;
}

/* || EXAMPLES */
.examples {
    /* text-align: center; */
    padding: var(--PADDING);

    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.examples__section {
    gap: 25px;
}

.examples__link:any-link {
    position: relative;
    color: white;
}

.examples__link:hover {
    color: white;
}

.examples__description {
    position: absolute;
    bottom: 10px;
    text-shadow: 0px 0px 1px black;

    padding: 15px;

    color: white;
}

.examples__image {
    filter: brightness(50%);
}

/* || CTA-PRIMARY */
.cta-primary {
    padding: var(--PADDING);
    background-color: #183b56;
    color: white;
}

.cta-primary__description {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cta-primary__heading {
    color: white;
}

.cta-primary__panel-list {
    display: flex;
    gap: 70px;
}

.cta-primary__ul {
    line-height: 30px;
    list-style-position: inside;
}

/* || CTA-SECONDARY */
.cta-secondary {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 100px var(--PADDING);
}

/* || FOOTER */
.footer {
    padding: var(--PADDING);
    gap: 150px;
    background-color: var(--CTA-BGCOLOR);
}

.footer__logo {
    max-width: 150px;
    height: auto;
}

.footer__heading {
    margin-bottom: 25px;
}

.footer__link {
    color: var(--FONT-COLOR);
    display: block;
    margin-bottom: 10px;
}

.footer__link:hover {
    color: var(--SECONDARY-HOVER-COLOR);
}

/* || SUBFOOTER */
.subfooter {
    background-color: var(--SUBFOOTER-BGCOLOR);
    padding: 25px var(--PADDING);
    justify-content: center;
    gap: 140px;
}

.subfooter__link-1 {
    gap: 20px;
}

.subfooter__link-2 {
    gap: 22px;
    align-items: center;
}

.subfooter__logo {
    width: 17px;
}

.link, .subfooter__info-link:any-link {
    color: var(--HEADER-COLOR);
}

.link:hover, .subfooter__info-link:hover {
    color: var(--SECONDARY-HOVER-COLOR);
}
