@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid red;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input, textarea, button {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF-HEADINGS: 'Poppins', sans-serif;
    --FF: 'Roboto', sans-serif;
    --FS: clamp(1.2rem, 2.2vh, 2.5rem);
    --MENU-FS: clamp(1.15rem, 2.2vh, 1.5rem);

    /* COLORS */
    --HEADER-COLOR: #000;
    --HEADER-BGCOLOR: #fff;
    --FONT-COLOR: hsla(0, 0%, 0%, 0.504);
    --LINK-COLOR: hsla(0, 0%, 0%, 0.534);
    --HOVER-COLOR: #2294ed;
    --BANNER-BGCOLOR: #e74694;
    --BANNER-COLOR: #fff;
    --MENU-BARS-COLOR: #000;
    --BUTTON-COLOR: #fff;
    --BUTTON-BGCOLOR: #2294ed;
}

/* || GENERAL STYLES */
body {
    font-family: var(--FF);
    color: var(--FONT-COLOR);
}


h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    color: var(--HEADER-COLOR);
}

p {
    line-height: 1.5rem;
    font-size: var(--FS);
    letter-spacing: 0.03rem;
}

a:any-link {
    text-decoration: none;
    color: var(--LINK-COLOR);
}

a:hover {
    color: var(--HOVER-COLOR);
}

/* || UTILITY CLASSES */
.container {
    max-width: 1180px;
    margin: 0 auto;
    /* margin-inline: auto */
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.center {
    text-align: center
}

/* || BANNER */

.banner {
    text-align: center;
    padding: 1rem;
    background-color: var(--BANNER-BGCOLOR);
    background-image: url("assets/patterns.png");
    background-size: 40%;
    background-repeat: repeat;
}

.banner-link {
    font-size: 0.9rem;
}

/* **** */
.banner-link:any-link {
    color: var(--BANNER-COLOR);
}

/* HEADER */
.header {
    position: relative;
}

.header__section {
    background-color: var(--HEADER-BGCOLOR);
    display: flex;
    justify-content: space-between;
    margin: 17px;
}

.header__img {
    width: 168px;
    /* background-color: black; */
}

/* button -> inline-block element */
/* takes the height according to the height of content
around it or its own content, whatevers maximum */
.header__menu-button {
    position: relative;
    background: transparent;
    /* does not make sense */
    /* justify-self: flex-end; */
    width: 17px;
    border: none;
    display: flex;
    justify-content: center;
    align-items : center;
}

.header__menu-icon,
.header__menu-icon:before,
.header__menu-icon:after {
    content: "";
    width: 17px;
    height: 2.5px;
    background-color: var(--MENU-BARS-COLOR);
    position: absolute;
    border-radius: 15px;
}

.header__menu-icon:before {
    top: -6px;
    left: 0;
}

.header__menu-icon:after {
    top: 6px;
    left: 0;
}

.header__nav {
    padding: 20px 30px;
    width: 100%;
}

.header__ul {
    list-style-type: none;
}

.header__li {
    font-size: var(--MENU-FS);
    padding: 12px 0px;
    margin-bottom: 20px;
}

/* .header__nav {
    display: none;
    position: absolute;
    animation: showMenu 350ms linear;
    z-index: -1;
} */

header:hover .header__nav {
    display: block;
    /* width: 10000px;
    background-color: black; */
}

nav {
    background-color: var(--HEADER-BGCOLOR);
    display: none;
    transform-origin: top center;
    /* position: absolute; */
    /* background-color: transparent; */
    animation: showMenu 350ms ease-in-out forwards;
}

@keyframes showMenu {
    0% {
        transform: translateY(-200px);
    }
    
    100% {
        transform: translateY(0);
    }
}

/* @keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
} */

a {
    display: block;
    width: 100%;
}

/* || HERO */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero__h2 {
    font-size: 2.5rem;
    width: 40%;
}

.hero__p {
    width: 40%;
}

.hero__button {
    background-color: var(--BUTTON-BGCOLOR);
    color: var(--BUTTON-COLOR);
    padding: 16px 32px;
    width: 150px;
    font-weight: bold;
}

/* || COMPANY */
.company__section {
    display: flex;
}

.company__figure {
    display: flex;
    align-items: center;
    width: 100px;
}